<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="one.xord.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="true" />

    <application
        android:name=".DApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.NICActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.NICFormActivity" />
        <activity android:name=".activities.SignInActivity"></activity>
        <activity android:name=".activities.SignUpActivity">

        </activity>
        <activity android:name=".activities.Splash" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>